@keyframes SearchDown {
    0% {
        transform: translateY(-100%)
    }
    100% {
        transform: translateY(0)
    }
}

@keyframes SearchUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes websiteopen {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes homeScrollDown {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    100% {
        transform: scale(0.5);
        opacity: 0.6;
    }
}

@keyframes homeScrollUp {
    0% {
        transform: scale(0.5);
        opacity: 0.6;
    }
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

@keyframes aboutScrollDown {
    0% {
        transform: scale(1) translateX(-100%);
        opacity: 0.6;
    }
    100% {
        transform: scale(1) translateX(0);
        opacity: 1;
    }
}

@keyframes aboutScrollUp {
    0% {
        transform: scale(1) translateX(0);
        opacity: 1;
    }
    100% {
        transform: scale(1) translateX(-100%);
        opacity: 0.6;
    }
}

@keyframes collaboratorScrollDown {
    0% {
        transform: scale(0.2);
        opacity: 0.6;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes collaboratorScrollUp {
    0% {
        transform: scale(1); 
        opacity: 1;
    }
    100% {
        transform: scale(0.2);
        opacity: 0.6;
    }
}

@keyframes textFadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes textFadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}