@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

html {
  --background: #eeeeee;
  --background-2: #ffffff;
  --text: #000;
  --subtitle: #979797;
  --button: #0088cc;
  --hovered: #298ff5;
  --shadow: #9c9c9cb8;
  --shadown-2: white;
  --linear: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
}

.light-mode {
  --background: #eeeeee;
  --background-2: #ffffff;
  --text: #000;
  --text-2: #ffff;
  --subtitle: #979797;
  --button: #0088cc;
  --hovered: #298ff5;
  --shadow: #9c9c9cb8;
  --shadow-2: white;
  --box: linear-gradient(to top, #ffff, #f2f2f2);
  --title-box: linear-gradient(to top, #444444, #666666);

  background: var(--background-2);
}

.dark-mode {
  --background: #212124;
  --background-2: #161618;
  --text: #ffff;
  --subtitle: #818181;
  --button: #0088cc;
  --hovered: #298ff5;
  --shadow: #000000b8;
  --shadow-2: black;
  --box: linear-gradient(to top, #444444, #666666);
  --title-box: linear-gradient(to top, #ffff, #f2f2f2);

  background: #212124;
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Display", sans-serif;
  animation: 3s websiteopen;
  user-select: none;
}

/* NavBar */

nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background-color: var(--background-2);
    box-shadow: inset 0px -1px 0px #c5c5c6;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
}

.logo span {
    font-size: 25px;
    margin-left: 10px;
    font-weight: 400;
    background-image: var(--linear);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.humburger {
    display: none;
}

.navlinks-container {
    position: relative;
    display: flex;
    align-items: center;
}
  
 .navlinks-container a {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: var(--text);
    position: relative;
}
  
.navlinks-container a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--text);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-out;
}
  
.navlinks-container a:hover::after {
    transform: scaleX(1);
}
  

.nav-buttons {
    margin-left: auto;
}

.nav-buttons a {
    font-size: 16px;
    min-width: 90px;
    padding: 10px 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #c5c5c6;
    color: var(--text);
}

#user {
    display: none;
}

.search-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#search {
    color: var(--text);
}

.search-input {
    justify-content: center;
    align-items: center;
    flex-direction: row;;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
}

.search-input > input {
    padding: 10px 5px;
    outline: none;
    border: none;
    border-radius: 6px;
    display: none;
}

.search-input.open {
    transform: translateY(0%);
}

@media screen and (max-width: 850px) {
    nav {
        padding: 15px 20px;
        position: relative;
    }

    .logo {
        order: 2;
        margin: 0 auto;
    }

    .main-navlinks {
        order: 1;
        width: auto;
    }

    .nav-buttons {
        order: 3;
        margin-left: 0;
    }

    /* Humburger */

    .humburger {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: none;
        display: flex;
        align-items: center;
        position: relative;
        background: var(--background-2);
    }

    .humburger span {
        display: block;
        width: 100%;
        height: 2px;
        background: var(--text);
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;
    }

    .humburger span:nth-child(1),
    .humburger span:nth-child(3) {
        transition: transform 0.3s ease-out;
    }

    .humburger span:nth-child(1) {
        transform: translateY(7px) ;
    }

    .humburger span:nth-child(2) {
        transform: translateY(-7px) ;
    }

    .humburger.open span:nth-child(1) {
        transform: translate(0) rotate(135deg);
    }

    .humburger.open span:nth-child(2) {
        opacity: 0;
        transition: opacity 0s ease-out;
    }

    .humburger.open span:nth-child(3) {
        transform: translate(0) rotate(-135deg);
    }

    /* Nav Bar links */
    
    .navlinks-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background: var(--background-2);
        top: 100%;
        left: 0;
        transform: translateX(-100%);
        height: 100vh;
        padding: 15px 50px 15px 20px;
        border-right: 1px solid #c5c5c6;
        transition: transform 0.3s ease-out;
        z-index: 1;
    }

    .navlinks-container.open {
        transform: translateX(0%);
    }

    .navlinks-container a {
        font-size: 20px;
        margin: 10px 0px ;
    }


    /* Sign In Sign Out */

    .sign-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 100%;
        right: 0;
        background: var(--background);
        transform: translateX(100%);
        padding: 15px 50px;
        z-index: -1;
        border-left: 1px solid #c5c5c6;
        border-bottom: 1px solid #c5c5c6;
        transition: transform 0.3s ease-out;
        z-index: 1;
        display: none;
    }

    .sign-btns.open {
        transform: translateX(0%);
        display: none;
    }

    .sign-btns a {
        margin: 10px 0px;
    }

    #user {
        display: block;
    }

    /* Search Input */

    .search-container {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }
    
    .search-input {
        justify-content: center;
        align-items: center;
        flex-direction: row;;
        transform: translateX(-100%);
        transition: transform 0.3s ease-out;
    }
    
    .search-input > input {
        padding: 5px 5px;
        outline: none;
        border: none;
        display: none;
    }
    
    .search-input.open {
        transform: translateX(0%);
    }
}

/* Home page */

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background: var(--background);
    gap: 15px;

    a {
        padding: 12px 24px;
        margin: 8px;
        border: none;
        border-radius: 50px;
        background: var(--button);
        color: var(--text-2);
        transition: background-color ease-in 0.5ms;
        text-decoration: none;
    }

    a:hover {
        cursor: pointer;
        background-color: var(--hovered);
        color: var(--subtitle);
    }

    .home-right, .home-left {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 24px;


        h1 {
            font-size: 56px;
            font-family: "SF Pro Display", sans-serif;
            font-weight: 200;
            text-align: center;
            background-image: var(--linear);
            background-clip: text;
            -webkit-text-fill-color: transparent; 
    
        }

        p {
            font-family: "SF Pro Display", sans-serif;
            font-size: 22px;
            text-align: center;
            color: var(--text);
        }
    }
}

/* About page */

.about {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    margin: 25px 0;
    padding: 24px;
    background: var(--background-2);

    .about-title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;

        .about-title {
            background-image: var(--linear);
            background-clip: text;
                -webkit-text-fill-color: transparent;
            font-weight: 500;
        }

        .about-subtitle {
            font-weight: 200;
        }

        h1 {
            font-size: 45px;
            font-family: "SF Pro Display", sans-serif;
            text-align: center;
            color: var(--subtitle);
        }   
    }

    .about-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 90%;
        height: 100%;

        .container-items {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: var(--box);
            border-radius: 10px;
            box-shadow: 0px 0px 10px -2px var(--shadow);
            transition: scale 0.3s ease;
            width: 100%;
            margin: 12px;
            padding: 24px;
            z-index: 0;

            p {
                text-align: center;
                color: var(--text);
            }


            .container-title {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                p {
                    text-align: center;
                    font: 12px;
                    color: var(--subtitle);
                }

                h1 {
                    font-weight: 200;
                    font-size: 40px;
                    text-align: center;
                }

                .title {
                    background-image: var(--title-box);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .subtitle {
                    color: var(--subtitle);
                    text-align: center;
                    font-weight: 200;
                    margin-bottom: 10px;
                }
            }
        }

        .container-items:hover {
            scale: 1.01;
            cursor: pointer;
        }
    }
}


/* Collaborator Page */

.collaborator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    padding: 25px 0;
    background: var(--background);

    .collaborator-title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;

        .collaborator-title {
            background-image: var(--linear);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 500;
        }

        .collaborator-subtitle {
            font-weight: 200;
        }

        h1 {
            font-size: 45px;
            font-family: "SF Pro Display", sans-serif;
            text-align: center;
            color: var(--subtitle);
        }   
    }

    .collaborator-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 90%;
        height: 100%;

        .container-items {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            background: var(--box);
            border-radius: 10px;

            transition: scale 1.5s ease;
            width: calc(50% - 12px);
            margin: 12px;
            padding: 24px;
            gap: 5px;
            box-shadow: 6px 6px 6px var(--shadow), -10px -10px 10px var(--shadow-2);
            text-align: center;

            img {
               
                border-radius: 10px;
            }

            p {
                text-align: center;
                font: 12px;
                color: var(--text-2);
            }

            h1 {
                font-weight: 200;
                font-size: 35px;
                text-align: center;
            }

            .title {
                background-image: linear-gradient(to right, #000000, #191919, #333333);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .subtitle {
                color: var(--subtitle);
                text-align: center;
                font-weight: 200;
                margin-bottom: 10px;
            }

            a {
                padding: 12px 24px;
                margin: 8px;
                border: none;
                border-radius: 50px;
                background: var(--button);
                color: var(--text-2);
                transition: box-shadow ease-in 1.5s;
                text-decoration: none;
            }
        
            a:hover {
                cursor: pointer;
                background-color: var(--button);
                color: var(--subtitle);
            }
        }

        .container-items:hover {
            scale: 1.02;
            cursor: pointer;
        }
    }
}

/* Contact Page */

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 15px;
    background: var(--background);
    overflow: hidden;
    z-index: -1;

    h1 {
        color: var(--text);
        font-weight: 500;
    }

    .contact-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 50%;
        gap: 10%;
        background-color: var(--background-2);
        box-shadow: 0 0 7px var(--shadow);
        border-radius: 10px;
    

        .input-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 15px;
            padding: 30px;
            border-radius: 10px;
            transition: all 0.5s ease-out;

            form {
                display: flex;
                flex-direction: column;
                width: 300px;
                margin: 20px;
                gap: 15px;
                transition: all 0.5s ease-out;
                
                legend {
                    color: var(--text);
                }

                label {
                    font-size: 15px;
                    color: var(--text);
                }

                input, textarea {
                    padding: 10px;
                    font-size: 13px;
                    border-radius: 4px;
                    background: var(--background);
                    width: 100%;
                    color: var(--text);
                    border: none;
                    outline: none;
                    resize: none;
                    font-family: "SF Pro Display", sans-serif;
                }

                input::placeholder, textarea::placeholder {
                    color: var(--subtitle);
                }

                button {
                    padding: 10px 5px;
                    border: 1px solid #c5c5c6;
                    color: var(--text);
                    background: var(--background);
                    border-radius: 6px;
                }   

                button:hover {
                    cursor: pointer;
                    background: var(--background);
                }
            }
        }

        .details-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 15px;

            span, h6, a {
                color: var(--text);
                font-size: 15px;
                transition: all 0.5s ease-out;
            }

            a:hover {
                color: var(--button);
            }

            .children {
                display: flex;
                gap: 10px;
            }
        }
    }
}

/* Footer Page  */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 24px;
    background: var(--background-2);
    transition: width ease-in 1.5s;

    h1 {
        background-image: var(--linear);        
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .separator {
        width: 100%;
        border: 0.2px solid var(--text);
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin: 12px 0; 
    
        .socials {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 12px;
    
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: var(--text);
                transition: all ease-in 0.1s;
            }
    
            a:hover {
                cursor: pointer;
                color: var(--hovered);
            }
    
            i {
                font-size: 25px;
                overflow: hidden;
            }
        }

        .copyright {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 10px;
            padding: 24px 0;
    
            .subtitle {
                font-weight: 200;
                color: var(--text);
            }
    
            a {
                font-family: "SF Pro Display", sans-serif;
                text-align: center;
                color: var(--text);
                text-decoration: none;
            }  

            a:hover {
                cursor: pointer;
                color: var(--button);
            }
        }
    }
}

/* Login */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: var(--background);
    overflow: hidden;
}

.login-items {
    background: var(--background-2);
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    color: var(--text);
}

.login-items form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 50px;
    color: var(--text);
}

.login-items input {
    padding: 10px 5px;
    width: 100%;
    outline: none;
    border-radius: 6px;
    border: none;
    color: var(--text);
    background: var(--background);
}

.login-items input p {
    font-size: 13px;
    color: var(--text);
}

.login-items button {
    padding: 10px 5px;
    border: 1px solid #c5c5c6;
    color: var(--text);
    background: var(--background);
    border-radius: 6px;
    width: 100%;
}

@media screen and (max-width: 850px) {
    .login-container {
        height: 95vh;
    }
}